.connectBtn {
	width: 151px;
	height: 40px;
	font-size: 0.75rem;
	text-transform: uppercase;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(@/assets/images/frames/header-frame.svg);
    transition: all 0.2s ease-in-out;
}

.connectBtn:hover {
    color: #81d100;
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px rgba(129, 209, 0, 0.3)) brightness(1.5);
}