.main {
    border-bottom: var(--primary-border);
    height: 534px;
}

.mainWrapper {
    position: relative;
}

.bgImage {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 788px;
    height: 534px;
    object-fit: cover;
}

.title {
    position: relative;
    max-width: 691px;
    font-size: 60px;
    font-weight: 500;
    padding-top: 92px;
}

.title span {
    background: linear-gradient(to right, #007227 0, #81d100 50%, #ffe924 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.desc {
    position: relative;
    max-width: 540px;
    margin-top: 32px;
    color: var(--secondary-color);
}

.box {
    position: relative;
    display: flex;
    gap: 20px;
    padding: 64px 0 106px;
}

.buy,
.start {
    width: 185px;
    height: 48px;
    font-size: var(--font-size-base);
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.buy:hover,
.start:hover {
    color: #81d100;
    transform: scale(1.01);
    filter: drop-shadow(0 0 20px rgba(129, 209, 0, 0.3));
}

.buy {
    background-image: url(../../assets/images/frames/main-frame-green.svg);
}

.start {
    background-image: url(../../assets/images/frames/main-frame-gray.svg);
}

@media (max-width: 890px) {
    .title {
        padding-top: 32px;
        max-width: none;
        width: 100%;
        font-size: 42px;
        line-height: 1.1;
    }

    .desc {
        font-size: 16px;
        width: 70%;
    }

    .box {
        padding-top: 42px;
        flex-direction: column;
    }

    .bgImage {
        height: 400px;
    }
}
@media (max-width: 550px) {
    .bgImage {
        height: 229px;
    }
}
