.item {
    width: 254px;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
    background-color: #0b0b0e;
}

.item:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 20px rgba(129, 209, 0, 0.3));
}

.top {
    height: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--primary-border);
}

.img {
    position: absolute;
    width: 252px;
}

.title {
    font-size: 21px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--primary-border);
}

.desc {
    display: flex;
    font-size: 8px;
    height: 32px;
    color: var(--secondary-color);
    border-bottom: var(--primary-border);
}

.desc div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descPrice {
    width: 192px;
    border-right: var(--primary-border);
}

.descItems {
    width: 190px;
}

.infoItem {
    font-size: 13px;
    display: flex;
    height: 55px;
    border-bottom: var(--primary-border);
}

.infoItem div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price {
    width: 192px;
    border-right: var(--primary-border);
    gap: 8px;
}

.items {
    width: 190px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
    height: 74px;
    border-bottom: var(--primary-border);
}

.socialIcon {
    width: 27px;
}

.detail {
    font-family: var(--font-family-second);
    font-size: 10px;
    font-weight: 300;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.detail:hover {
    color: #81d100;
}

.fadeInSection {
    opacity: 0;
    transform: translateY(100px);
    transition:
        opacity 1s ease,
        transform 1s ease;
}

.isVisible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 410px) {
    .item {
        width: 287px;
    }

    .top {
        width: 100%;
        overflow: hidden;
        height: 240px;
    }
    .section {
        display: flex;
        justify-content: center;
        border-top: var(--primary-border);
        border-bottom: var(--primary-border);
        width: 100%;
        padding: 0 16px;
    }

    .img {
        width: 285px;
        height: 240px;
        height: auto;
        object-fit: cover;
        background-size: contain;
    }

    .title {
        font-size: 24px;
    }

    .icon {
        width: 30%;
    }

    .infoItem {
        font-size: 15px;
        height: 63px;
    }

    .descPrice,
    .descItems {
        font-size: 9px;
    }

    .detail {
        font-size: 11px;
        height: 48px;
    }
}
