.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-primary);
    z-index: 10000;
    opacity: 1;
    transition: opacity 1s ease;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container span {
    position: absolute;
    min-width: 1px;
    min-height: 3000px;
    background-color: #ddd;
    z-index: 10;
}

.logo {
    position: relative;
    z-index: 100;
}

.line1 {
    top: -1000px;
    left: -128px;
    transform: rotate(34deg);
}

.line2 {
    top: -1000px;
    left: -70px;
    transform: rotate(34deg);
}

.line3 {
    top: -1000px;
    left: 477px;
    transform: rotate(147deg);
}

.line4 {
    top: -1000px;
    left: 533px;
    transform: rotate(147deg);
}

.line5 {
    top: -1000px;
    left: 634px;
    transform: rotate(146deg);
}

.line6 {
    top: -1000px;
    left: 692px;
    transform: rotate(146deg);
}

.line7 {
    top: -1000px;
    left: 114px;
    transform: rotate(33deg);
}

.line8 {
    top: -1000px;
    left: 171px;
    transform: rotate(33deg);
}

.line9 {
    top: -1191px;
    left: 500px;
    transform: rotate(90deg);
}

.line10 {
    top: -1239px;
    left: 500px;
    transform: rotate(90deg);
}


@media screen and (max-width: 450px) {
	.line1 {
		top: -900px;
		left: -326px;
		transform: rotate(34deg);
	}
	
	.line2 {
		top: -900px;
		left: -306px;
		transform: rotate(34deg);
	}
	
	.line3 {
		top: -1000px;
		left: 440px;
		transform: rotate(147deg);
	}
	
	.line4 {
		top: -1000px;
		left: 461px;
		transform: rotate(147deg);
	}
	
	.line5 {
		top: -1000px;
		left: 414px;
		transform: rotate(146deg);
	}
	
	.line6 {
		top: -1000px;
		left: 393px;
		transform: rotate(146deg);
	}
	
	.line7 {
		top: -1000px;
		left: -157px;
		transform: rotate(33deg);
	}
	
	.line8 {
		top: -1000px;
		left: -137px;
		transform: rotate(33deg);
	}
	
	.line9 {
		top: -1383px;
		left: 500px;
		transform: rotate(90deg);
	}
	
	.line10 {
		top: -1400px;
		left: 500px;
		transform: rotate(90deg);
	}
}