.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 587px;
	margin: 0 auto;
	border-left: var(--primary-border);
	border-right: var(--primary-border);
	padding-bottom: 90px;
}

.title {
	font-size: 60px;
	font-weight: 500;
	text-align: center;
	padding: 70px 0 20px;
}

.title span {
  background: linear-gradient(to right, #007227 0%, #81D100 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 34px;
	border-top: var(--primary-border);
	border-bottom: var(--primary-border);
}

@media (max-width: 890px) {
	.top {
		width: 100%;
	}

  .title {
		width: 360px;
		font-size: 42px;
		border-left: var(--primary-border);
		border-right: var(--primary-border);
		padding-top: 40px;
	}

	.desc {
		font-size: 16px;
	}

	.top {
		border: none;
		padding-bottom: 66px;
	} 
}