.apply {
    position: relative;
}

.applyWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.left {
    position: relative;
    width: 700px;
}

.top {
    width: 193px;
    border: var(--primary-border);
    border-top: none;
    border-bottom: none;
    height: 143px;
}

.title {
    display: flex;
    align-items: center;
    font-size: 52px;
    font-weight: 500;
    padding: 20px 0 30px;
    width: 590px;
}

.titleIcon {
    position: relative;
    top: -92px;
    left: 12px;
    transform: rotate(180deg);
}

.desc {
    font-size: 27px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    margin: 43px 0 20px;
}

.btn {
    width: 225px;
    height: 58px;
    margin-bottom: 66px;
    font-size: var(--font-size-base);
    text-transform: uppercase;
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 500;
    background-image: url(../../assets/images/frames/main-frame-green.svg);
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: #81d100;
    transform: scale(1.01);
    filter: drop-shadow(0 0 20px rgba(129, 209, 0, 0.3));
}

.lineY {
    position: absolute;
    left: 601px;
    width: 1px;
    height: 630px;
    background-color: rgba(255, 255, 255, 0.25);
}

.line1 {
    position: relative;
    left: -2399px;
    width: 3000px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

.line2 {
    position: relative;
    left: -2399px;
    width: 3000px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

.line3 {
    position: relative;
    left: -2399px;
    width: 3000px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
}

.bottom {
    width: 193px;
    height: 197px;
    border-left: var(--primary-border);
    border-right: var(--primary-border);
}

.rightLine {
    width: 192px;
    height: 774px;
    border-left: var(--primary-border);
    border-right: var(--primary-border);
}

.bgHeroWrap {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -10;
}

.bgHero {
    position: relative;
    z-index: -1;
}

.greenSpr {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.bgHero img {
    min-width: 100%;
}

.totem {
    position: absolute;
    top: 220px;
    left: 480px;
    z-index: -1;
    overflow: hidden;
    width: 680px;
}

.totem img {
    position: relative;
    transition: transform 0.1s ease-out;
    z-index: 1;
    width: 680px;
}

@media screen and (max-width: 1200px) {
    .totem {
        left: 400px;
        top: 263px;
    }
    .totem img {
        max-width: 500px;
        min-width: none;
    }
}

@media (max-width: 650px) {
    .top {
        width: 118px;
        height: 65px;
    }

    .title {
        font-size: 26px;
        width: 310px;
        padding: 11px 0 18px 20px;
    }

    .desc {
        font-size: 16px;
        padding-left: 20px;
        margin-top: 24px;
    }

    .btn {
        font-size: 12px;
        margin-bottom: 36px;
        width: 140px;
        height: 36px;
        margin-left: 20px;
    }
    .box {
        position: relative;
        z-index: 10;
    }

    .line1 {
        left: -2672px;
    }

    .line2 {
        left: -2672px;
    }

    .line3 {
        left: -2672px;
        z-index: 0;
    }

    .lineY {
        left: 328px;
        height: 420px;
    }

    .titleIcon {
        top: -44px;
        left: 18px;
    }

    .bottom {
        width: 118px;
        height: 180px;
    }

    .right {
        display: none;
    }

    .totem {
        left: 150px;
        top: 263px;
        z-index: 1;
    }

    .totem img {
        max-width: 380px;
        min-width: none;
    }
}
