.header {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: var(--bg-color-primary);
	border-bottom: var(--primary-border);
	z-index: 1000;
}

.container {
	max-width: 1230px;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 0 15px;
}

.gap {
	width: 100%;
	height: 100px;
}

.connect {
	margin-left: auto;
	height: 100%;
	padding-left: 40px;
	border-left: var(--primary-border);
}

.menuBtn {
	padding: 10px;
	display: none;
}

@media (max-width: 890px) {
	.header {
		height: 66px;
	}

	.gap {
		height: 66px;
	}

	.connect {
		display: none;
	}

	.menuBtn {
		display: block;
	}
}
