.footer {
  position: relative;
  border-top: var(--primary-border);
  padding-top: 140px;
  background-color: var(--bg-color-primary);
  z-index: 10;
}

.footerWrapper {
  display: flex;
}

.links {
  width: 130px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  gap: 10px;
  margin-right: 95px;
}

.link, .itemLink {
  &:hover {
		color: #81D100;
	}
}

.content {
  display: flex;
}

.social p {
  font-size: 15px;
}

.socialLinks {
  margin-top: 19px;
  display: flex;
  gap: 19px;
}

.socialLinks img {
  min-width: 19px;
}

.bigLogo {
  position: relative;
  margin-left: auto;
  left: 100px;
  top: 1px;
}

.footerBottom {
  border-top: var(--primary-border);
  padding: 20px 0 30px;
}

.bottomDesc {
  font-size: 12px;
  font-family: var(--font-family-second);
  color: #acacac;
}

@media (max-width: 890px) {
  .footer {
    padding-top: 20px;
  }

  .footerWrapper {
    display: block;
  }

  .content {
    justify-content: space-between;
  }

  .links {
    margin-right: 30px;
    font-size: 13px;
  }

  .socialLinks {
    gap: 10px;
  }

	.bigLogo {
		width: 100px;
		position: relative;
		margin-left: auto;
		left: 10px;
		top: 1px;
	}
	.bottomDesc {
		font-size: 10px;
	}
}
